In [129]:
 import pandas as pd

# 数据加载
df = pd.read_csv('./car_complain.csv')
df

# 数据清洗，将别名合并
def f(x):
    x = x.replace('一汽-大众','一汽大众')
    return x
df['brand'] = df['brand'].apply(f)

# 拆分problem列，0代表没有，1代表存在
df = df.drop('problem', axis = 1).join(df.problem.str.get_dummies(','))
df

,id,brand,car_model,type,desc,datetime,status,A11,A114,A12,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,482027,江淮汽车,江淮iEV6E,2017款 iEV6E,江淮iEV6E动力电池故障 无法充电,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,482026,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹车身异响 天窗异响,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,482022,一汽大众,迈腾,2009款 1.8TSI DSG 舒适型,一汽大众迈腾起步和刹车时车辆抖动\t,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,482019,众泰汽车,众泰T600 Coupe,2017款 1.5T 自动 尊享型,众泰T600 Coupe售后维修配件一直缺货,2020-06-08,厂家受理,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,480802,北京现代,领动,2016款 1.6L 自动 智炫·精英型,北京现代领动ABS和防侧滑故障灯同时亮\t,2020-06-05,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
596,480801,一汽大众,高尔夫,2016款 1.4TSI 25周年纪念版,一汽大众高尔夫仪表提示变速箱挂入P挡,2020-06-05,处理反馈,0,0,0,...,0,0,0,0,0,0,0,0,0,0
597,480799,吉利汽车,星越,2020款 350T 魅影骑士版AWD,吉利星越车机系统虚假宣传 卡顿严重,2020-06-05,用户评分,0,0,0,...,0,0,0,0,0,0,0,0,0,0
598,480798,北京现代,悦纳,2016款 1.4L 手动 炫酷版 GLS,北京现代悦纳发动机曲轴螺丝断裂,2020-06-05,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599,480795,东风日产,逍客,2016款 2.0L CVT 精英版,东风日产逍客变速箱报故障码P17F1,2020-06-05,处理反馈,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
# 按品牌分类，求id的计数
result_brand = df.groupby(['brand'])['id'].agg(['count'])
result_brand

        count
brand
一汽丰田       12
一汽吉林        2
一汽大众       58
一汽大众奥迪     19
一汽奔腾        6
...       ...
长安汽车        6
长安铃木        2
长安马自达       4
雷克萨斯        2
领克汽车        5

[74 rows x 1 columns]

In [131]:
# 按车型分类，求id的计数
result_car_model = df.groupby(['car_model'])['id'].agg(['count'])
result_car_model

           count
car_model
C4世嘉           1
DS5            1
INSPIRE        1
Levante        1
Polo           1
...          ...
驭胜S350         1
骏派A70          1
骐达TIIDA        1
高尔夫            4
高尔夫（进口）        1

[212 rows x 1 columns]

In [132]:
# 按品牌分类，求id和car_model计数
result_brand_2 = df.groupby(['brand']).agg({'id':'count','car_model':'nunique'})
result_brand_2

# tags = df.columns[[0,2]]
# result_brand_2 = df.groupby(['brand'])[tags].agg(['nunique'])
# result_brand_2

# 索引列恢复正常列
result_brand_2.reset_index(inplace = True)
result_brand_2

     brand  id  car_model
0     一汽丰田  12          6
1     一汽吉林   2          2
2     一汽大众  58          7
3   一汽大众奥迪  19          6
4     一汽奔腾   6          4
..     ...  ..        ...
69    长安汽车   6          5
70    长安铃木   2          2
71   长安马自达   4          2
72    雷克萨斯   2          2
73    领克汽车   5          2

[74 rows x 3 columns]

In [133]:
# 求各品牌下车型的平均抱怨个数
result_brand_2.eval('car_model_mean = id / car_model', inplace=True)
result_brand_2

     brand  id  car_model  car_model_mean
0     一汽丰田  12          6        2.000000
1     一汽吉林   2          2        1.000000
2     一汽大众  58          7        8.285714
3   一汽大众奥迪  19          6        3.166667
4     一汽奔腾   6          4        1.500000
..     ...  ..        ...             ...
69    长安汽车   6          5        1.200000
70    长安铃木   2          2        1.000000
71   长安马自达   4          2        2.000000
72    雷克萨斯   2          2        1.000000
73    领克汽车   5          2        2.500000

[74 rows x 4 columns]

In [134]:
# 按照 car_model_mean，从大到小进行排序
result_brand_2 = result_brand_2.sort_values('car_model_mean', ascending = False)
result_brand_2

     brand  id  car_model  car_model_mean
7    一汽马自达  95          2       47.500000
37    吉利汽车  96         10        9.600000
2     一汽大众  58          7        8.285714
49    广汽丰田  17          3        5.666667
8     上汽大众  36         10        3.600000
..     ...  ..        ...             ...
13   东风乘用车   2          2        1.000000
44  奔驰（进口）   3          3        1.000000
45  奥迪（进口）   1          1        1.000000
46    宝沃汽车   2          2        1.000000
6     一汽解放   2          2        1.000000

[74 rows x 4 columns]

In [137]:
result_brand_2.to_csv("./car_data_analyze_result.csv")